@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  scrollbar-color: var(--accent-color) transparent;
  scrollbar-width: thin;
}
body {
  background: var(--primary-bg-color);
}
::-webkit-scrollbar-track {
  background-color: var(--primary-bg-color);
}
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 5rem;
}
/* Transition Start */
.layer,
.scroll-to-top,
.underline::before {
  transition: var(--transition-three);
}
/* Transition End */
.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}
.layer {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  background-color: var(--secondary-bg-color);
  transition: var(--transition-three);
}
.layer.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.loading-spinner {
  height: 4em;
  width: 4rem;
}
.loading-spinner + .layer {
  z-index: 50;
}
.loading-spinner,
.loading-spinner .load-in,
.loading-spinner .load-out {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.loading-spinner .load-in,
.loading-spinner .load-out {
  display: block;
  border-radius: 50%;
}
.loading-spinner .load-in {
  height: 60%;
  width: 60%;
  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--accent-color) var(--accent-color) var(--accent-color)
    transparent;
  -webkit-animation: turn-right 1s infinite linear;
  -moz-animation: turn-right 1s infinite linear;
  animation: turn-right 1s infinite linear;
}
.loading-spinner .load-out {
  height: 90%;
  width: 90%;
  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--primary-txt-color) transparent var(--primary-txt-color)
    var(--primary-txt-color);
  -webkit-animation: turn-left 1s infinite linear;
  -moz-animation: turn-left 1s infinite linear;
  animation: turn-left 1s infinite linear;
}
/* Main Page */
.page-section {
  min-height: calc(100vh - 4rem - 1px);
}
.page-section .cards-container.flex::-webkit-scrollbar {
  height: 0.5rem;
}
.page-section .cards-container.flex::-webkit-scrollbar-thumb {
  background-color: var(--secondary-bg-color);
  border-radius: 5rem;
}
.page-section .container {
  padding-bottom: 3rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.page-section img {
  display: block;
  border-radius: 0.5rem;
  -webkit-animation: skeleton-loading 1s linear infinite alternate-reverse;
  -moz-animation: skeleton-loading 1s linear infinite alternate-reverse;
  animation: skeleton-loading 1s linear infinite alternate-reverse;
}
/* Buttons */
.btn {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  transition: var(--transition-three), transform 0s;
}
.btn:active {
  transform: scale(0.98);
}
.underline {
  position: relative;
  font-weight: 600;
}
.underline.accent-color {
  color: var(--accent-color);
}
.underline::before {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  height: 0.15rem;
  width: 0;
  background-color: var(--accent-color);
}
.underline.active::before {
  width: 100%;
}
/* Scroll To Top */
.scroll-to-top {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  background-color: var(--accent-color);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(1rem);
  cursor: pointer;
  z-index: 20;
  -webkit-box-shadow: 0 0 10px var(--accent-color);
  -moz-box-shadow: 0 0 10px var(--accent-color);
  box-shadow: 0 0 10px var(--accent-color);
}
.scroll-to-top.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}
.scroll-to-top .icon {
  font-size: 2rem;
  color: var(--primary-txt-color);
}
/* Footer Start */
.footer .container {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-txt-color);
  border-top: 0.1rem solid var(--secondary-txt-color);
}
.footer img {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: -0.2rem;
  animation-play-state: paused;
}
/* Footer End */
/* Errors Start */
.error {
  flex: 1;
  padding-top: 10rem;
  text-align: center;
}
.error .error-message {
  font-size: 1.2rem;
  color: var(--secondary-txt-color);
}
.error .error-message:first-of-type {
  color: var(--primary-txt-color);
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.error .error-code {
  color: var(--accent-color);
  font-size: 10rem;
  z-index: -1;
}
.error .btn {
  background-color: var(--accent-color);
  color: var(--primary-txt-color);
  margin-top: 2rem;
}
/* Errors End */
/* Media Queries Start */
@media (max-width: 639px) {
  html {
    font-size: 80%;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: calc(640px - 17px);
  }
}
@media (min-width: 768px) {
  .container {
    max-width: calc(768px - 17px);
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: calc(1024px - 17px);
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: calc(1280px - 17px);
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: calc(1536px - 17px);
  }
}
@media (hover: hover) {
  .underline:hover::before {
    width: 100%;
  }
}
/* Media Queries End */
/* Animation Start */
@-webkit-keyframes turn-right {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@-moz-keyframes turn-right {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@keyframes turn-right {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@-webkit-keyframes turn-left {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-1turn);
  }
}
@-moz-keyframes turn-left {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-1turn);
  }
}
@keyframes turn-left {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-1turn);
  }
}
@-webkit-keyframes skeleton-loading {
  0% {
    background-color: rgba(0 0 0 / 0.5);
  }
  100% {
    background-color: rgba(0 0 0 / 0.3);
  }
}
@-moz-keyframes skeleton-loading {
  0% {
    background-color: rgba(0 0 0 / 0.5);
  }
  100% {
    background-color: rgba(0 0 0 / 0.3);
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: rgba(0 0 0 / 0.5);
  }
  100% {
    background-color: rgba(0 0 0 / 0.3);
  }
}
/* Animation End */
