@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}
body {
  background: var(--primary-bg-color);
}
.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}
.layer {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: var(--third-bg-color);
  z-index: 50;
  -webkit-transition: var(--transition-three);
  -moz-transition: var(--transition-three);
  -o-transition: var(--transition-three);
  transition: var(--transition-three);
}
.loading-spinner {
  height: 4em;
  width: 4rem;
}
.loading-spinner,
.loading-spinner .load-in,
.loading-spinner .load-out {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.loading-spinner .load-in,
.loading-spinner .load-out {
  display: block;
  border-radius: 50%;
}
.loading-spinner .load-in {
  height: 60%;
  width: 60%;
  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--accent-color) var(--accent-color) var(--accent-color)
    transparent;
  animation: turn-right 1s infinite linear;
}
.loading-spinner .load-out {
  height: 90%;
  width: 90%;
  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--primary-txt-color) transparent var(--primary-txt-color)
    var(--primary-txt-color);
  animation: turn-left 1s infinite linear;
}
@keyframes turn-right {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@keyframes turn-left {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-1turn);
  }
}
.page-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-height: calc(100vh - 4rem - 1px);
}
.page-section .container {
  padding-bottom: 3rem;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  -webkit-transition: var(--transition-three), transform 0s;
  -moz-transition: var(--transition-three), transform 0s;
  -o-transition: var(--transition-three), transform 0s;
  transition: var(--transition-three), transform 0s;
}
.btn:active {
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
  transform: scale(0.98);
}
/* Footer Start */
.footer .container {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-txt-color);
  border-top: 0.1rem solid var(--secondary-txt-color);
}
.footer img {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: -0.2rem;
}
.footer .author {
  color: var(--accent-color);
  font-weight: 500;
  position: relative;
}
.footer .author::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  height: 0.15rem;
  width: 0;
  background-color: var(--accent-color);
  -webkit-transition: var(--transition-three);
  -moz-transition: var(--transition-three);
  -o-transition: var(--transition-three);
  transition: var(--transition-three);
}
.footer .author:hover::after {
  width: 100%;
}
/* Footer End */
/* Media Queries Start */
@media (max-width: 639px) {
  html {
    font-size: 80%;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: calc(640px - 17px);
  }
}
@media (min-width: 768px) {
  .container {
    max-width: calc(768px - 17px);
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: calc(1024px - 17px);
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: calc(1280px - 17px);
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: calc(1536px - 17px);
  }
}
/* Media Queries End */
