:root {
  --primary-bg-color: #1e292e;
  --secondary-bg-color: rgba(0 0 0 / 0.3);
  --third-bg-color: rgba(0 0 0 / 0.6);
  --fourth-bg-color: rgba(0 0 0 / 0.5);

  --primary-txt-color: #fff;
  --secondary-txt-color: rgba(255 255 255 / 0.5);

  --accent-color: #ff2c1f;

  --transition-three: all 0.3s ease;
  --transition-five: all 0.5s ease;
}
/* --primary-bg-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)
  no-repeat;
--secondary-bg-color: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%)
  no-repeat;

--primary-txt-color: #000;
--secondary-txt-color: #333; */
