.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.5rem;
  z-index: 10;
}
.nav-bar .icon {
  transition: var(--transition-three);
}
.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav-bar .hamburger {
  display: none;
}
.nav-bar .sidbar-menu {
  flex: 1;
  display: flex;
}
/* Logo Start */
.nav-bar .logo {
  display: flex;
  align-items: center;
}
.nav-bar .logo img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}
.nav-bar .logo .logo-name {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--accent-color);
}
.nav-bar .logo span {
  font-size: 1rem;
  color: var(--primary-txt-color);
}
/* Logo End */
/* Nav-List Start */
.nav-bar .nav-list {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}
.nav-bar .nav-list .nav-link {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
  color: var(--secondary-txt-color);
  transition: var(--transition-three);
  cursor: pointer;
}
.nav-bar .nav-list .nav-link .icon {
  color: var(--secondary-txt-color);
}
.nav-bar .nav-list .nav-link.shake .icon {
  -webkit-animation: shaking 0.5s ease-out;
  -moz-animation: shaking 0.5s ease-out;
  animation: shaking 0.5s ease-out;
}
.nav-bar .nav-list .nav-link .page-title {
  font-size: 1rem;
}
.nav-bar .nav-list .nav-link::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  height: 0.1rem;
  width: 0;
  background-color: var(--accent-color);
  transition: var(--transition-three);
}
.nav-bar .nav-list .nav-link.active .icon {
  color: var(--accent-color);
}
.nav-bar .nav-list .nav-link.active {
  color: var(--primary-txt-color);
}
.nav-bar .nav-list .nav-link.active::after {
  width: 100%;
}
/* Nav-List End */
/* Search Form Start */
.nav-bar .search-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--third-bg-color);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: 0.2rem solid var(--secondary-txt-color);
  transition: var(--transition-three);
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 30%) inset;
  -moz-box-shadow: 0 0 10px rgb(0 0 0 / 30%) inset;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%) inset;
}
.nav-bar .search-form.active {
  border-color: var(--accent-color);
}
.nav-bar .search-form [type="text"] {
  color: var(--primary-txt-color);
  flex: 1 1;
}
.nav-bar .search-form [type="text"]::placeholder {
  transition: var(--transition-three);
}
.nav-bar .search-form [type="text"]:focus::placeholder {
  color: var(--primary-txt-color);
}
.nav-bar .search-form [type="text"]:focus + .icon {
  color: var(--accent-color);
}
.nav-bar .search-form .icon {
  font-size: 1rem;
  color: var(--primary-txt-color);
  cursor: pointer;
}
/* Search Form End */
/* Media Queries Start */
@media (hover: hover) {
  .nav-bar .nav-list .nav-link:hover .icon {
    color: var(--accent-color);
  }
  .nav-bar .nav-list .nav-link:hover {
    color: var(--primary-txt-color);
  }
  .nav-bar .nav-list .nav-link:hover::after {
    width: 100%;
  }
  .nav-bar .search-form .icon:hover {
    color: var(--accent-color);
  }
}
@media (max-width: 1023px) {
  .nav-bar::before {
    content: "";
    position: absolute;
    inset: 0;
    transition: var(--transition-three);
    z-index: -1;
  }
  .nav-bar.active::before {
    background-color: var(--third-bg-color);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }
  .nav-bar .hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
  .nav-bar .hamburger span {
    height: 0.2rem;
    width: 100%;
    background-color: var(--primary-txt-color);
    border-radius: 5rem;
    transform-origin: center center;
  }
  /* Hamburger Open */
  .nav-bar .hamburger.open span:nth-child(1) {
    -webkit-animation: open-one 0.5s ease-in-out forwards;
    -moz-animation: open-one 0.5s ease-in-out forwards;
    animation: open-one 0.5s ease-in-out forwards;
  }
  .nav-bar .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity var(--transition-five);
  }
  .nav-bar .hamburger.open span:nth-child(3) {
    -webkit-animation: open-two 0.5s ease-in-out forwards;
    -moz-animation: open-two 0.5s ease-in-out forwards;
    animation: open-two 0.5s ease-in-out forwards;
  }
  /* Hamburger Close */
  .nav-bar .hamburger.close span:nth-child(1) {
    -webkit-animation: close-one 0.5s ease-in-out forwards;
    -moz-animation: close-one 0.5s ease-in-out forwards;
    animation: close-one 0.5s ease-in-out forwards;
  }
  .nav-bar .hamburger.close span:nth-child(2) {
    opacity: 1;
    transition: opacity var(--transition-five) var(--transition-three);
  }
  .nav-bar .hamburger.close span:nth-child(3) {
    -webkit-animation: close-two 0.5s ease-in-out forwards;
    -moz-animation: close-two 0.5s ease-in-out forwards;
    animation: close-two 0.5s ease-in-out forwards;
  }
  .nav-bar .sidbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-100%);
    height: calc(100vh - 100%);
    width: min(70vw, 20rem);
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--third-bg-color);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    padding: 2rem 1rem;
    z-index: 1;
    transition: var(--transition-three);
  }
  .nav-bar .sidbar-menu.active {
    transform: translateX(0);
  }
  .nav-bar .nav-list {
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav-bar .nav-list .nav-link {
    flex-direction: row;
    align-items: center;
  }
  .nav-bar .nav-list .nav-link .icon {
    width: 1.5rem;
    text-align: center;
  }
  .nav-bar .nav-list .nav-link .page-title {
    margin-left: 1rem;
  }
  .nav-bar .nav-list .nav-link::after {
    content: none;
  }
}
/* Media Queries End */
/* Animation Start */
@-webkit-keyframes shaking {
  0% {
    transform: scale(1) rotate(0);
  }
  33% {
    transform: scale(1.1) rotate(25deg);
  }
  66% {
    transform: scale(1.1) rotate(-25deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@-moz-keyframes shaking {
  0% {
    transform: scale(1) rotate(0);
  }
  33% {
    transform: scale(1.1) rotate(25deg);
  }
  66% {
    transform: scale(1.1) rotate(-25deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes shaking {
  0% {
    transform: scale(1) rotate(0);
  }
  33% {
    transform: scale(1.1) rotate(25deg);
  }
  66% {
    transform: scale(1.1) rotate(-25deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@-webkit-keyframes open-one {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.65rem);
  }
  100% {
    transform: translateY(0.6rem) rotate(45deg);
  }
}
@-moz-keyframes open-one {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.65rem);
  }
  100% {
    transform: translateY(0.6rem) rotate(45deg);
  }
}
@keyframes open-one {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.65rem);
  }
  100% {
    transform: translateY(0.6rem) rotate(45deg);
  }
}
@-webkit-keyframes open-two {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.75rem);
  }
  100% {
    transform: translateY(-0.8rem) rotate(-45deg);
  }
}
@-moz-keyframes open-two {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.75rem);
  }
  100% {
    transform: translateY(-0.8rem) rotate(-45deg);
  }
}
@keyframes open-two {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.75rem);
  }
  100% {
    transform: translateY(-0.8rem) rotate(-45deg);
  }
}
@-webkit-keyframes close-one {
  0% {
    transform: translateY(0.6rem) rotate(45deg);
  }
  50% {
    transform: translateY(0.6rem) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@-moz-keyframes close-one {
  0% {
    transform: translateY(0.6rem) rotate(45deg);
  }
  50% {
    transform: translateY(0.6rem) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes close-one {
  0% {
    transform: translateY(0.6rem) rotate(45deg);
  }
  50% {
    transform: translateY(0.6rem) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes close-two {
  0% {
    transform: translateY(-0.8rem) rotate(-45deg);
  }
  50% {
    transform: translateY(-0.8rem) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@-moz-keyframes close-two {
  0% {
    transform: translateY(-0.8rem) rotate(-45deg);
  }
  50% {
    transform: translateY(-0.8rem) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes close-two {
  0% {
    transform: translateY(-0.8rem) rotate(-45deg);
  }
  50% {
    transform: translateY(-0.8rem) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
/* Animation End */
