.discover-section .discover-header .section-title::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: rgba(255 255 255 / 0.1);
}
.discover-section .cards-container .card {
  transform: translateY(2rem);
  opacity: 0;
  -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  transition: 0;
}
.discover-section .cards-container .loading-spinner {
  top: 10rem;
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
.discover-section .cards-container.popular .loading-spinner,
.discover-section .cards-container.trending .loading-spinner,
.discover-section .cards-container.top_rated .loading-spinner {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.discover-section .cards-container.popular .card,
.discover-section .cards-container.trending .card,
.discover-section .cards-container.top_rated .card {
  transform: translateY(0rem);
  opacity: 1;
  -webkit-transition: var(--transition-three) calc(var(--i) * 50ms);
  -moz-transition: var(--transition-three) calc(var(--i) * 50ms);
  -o-transition: var(--transition-three) calc(var(--i) * 50ms);
  transition: var(--transition-three) calc(var(--i) * 50ms);
}
.discover-section .container > .btn {
  width: min(20rem, 100%);
  margin: 0 auto;
  color: var(--primary-txt-color);
  background-color: var(--accent-color);
  height: 2.6rem;
  position: relative;
}
.discover-section .container > .btn > .loading-spinner {
  height: 2rem;
  width: 2rem;
}
.discover-section .container > .btn > .loading-spinner .load-in,
.discover-section .container > .btn > .loading-spinner .load-out {
  border-width: 0.15rem;
}
.discover-section .container > .btn > .loading-spinner .load-in {
  border-color: var(--primary-txt-color) var(--primary-txt-color)
    var(--primary-txt-color) transparent;
}
/* Media Queries Start */
@media (hover: hover) {
  .discover-section .cards-container .poster {
    height: 100%;
  }
  .discover-section .container > .btn:hover {
    -webkit-box-shadow: 0 0 10px var(--accent-color);
    -moz-box-shadow: 0 0 10px var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
  }
}
@media (max-width: 339px) {
  .discover-section .cards-container .card .card-title {
    font-size: 1.2rem;
  }
}
/* Media Queries End */
