/* Transition Start */
.movie-header .trailer-container,
.movie-header .trailer-container::before,
.info-section .card-container .more-cast,
.info-section .card-container .more-cast .icon {
  -webkit-transition: var(--transition-three);
  -moz-transition: var(--transition-three);
  -o-transition: var(--transition-three);
  transition: var(--transition-three);
}
/* Transition End */
.movie-header {
  min-height: 100vh;
}
.header-section .btn .icon {
  margin-right: 0.5rem;
}
.movie-header .genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.movie-header .genre-list .genre-item {
  color: var(--primary-txt-color);
  position: relative;
}
.movie-header .genre-list .genre-item:not(:last-child)::after {
  content: "|";
  margin-left: 0.5rem;
}
.movie-header .date-time-info {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.movie-header .date-time-info .define {
  color: var(--accent-color);
  font-weight: 500;
  opacity: 0.9;
}
.movie-header .trailer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: min(100%, 60rem);
  height: auto;
  aspect-ratio: 267 / 160;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  padding: 1rem;
  z-index: 15;
}
.movie-header .trailer-container .layer {
  content: "";
  position: fixed;
  top: -50vh;
  left: -50vw;
  height: 200vh;
  width: 200vw;
  opacity: 0;
  background-color: var(--third-bg-color);
  z-index: -1;
}
.movie-header .trailer-container.active {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%);
}
.movie-header .trailer-container.active .layer {
  opacity: 1;
}
.movie-header .trailer-container .btn {
  position: absolute;
  top: -1rem;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  padding: 0;
  background-color: var(--accent-color);
  color: var(--primary-txt-color);
  -webkit-box-shadow: 0 0 10px var(--accent-color);
  -moz-box-shadow: 0 0 10px var(--accent-color);
  box-shadow: 0 0 10px var(--accent-color);
}
.movie-header .trailer-container .trailer-frame {
  height: 100%;
  width: 100%;
}
.info-section .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.info-section .overview {
  border-bottom: 0.15rem solid rgba(255 255 255 / 0.1);
}
.info-section .overview p {
  color: var(--primary-txt-color);
  padding: 1rem;
  font-size: 1.1rem;
}
.info-section .card-container .cast-poster img {
  width: 12rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.info-section .card-container .cast-poster figcaption {
  color: var(--primary-txt-color);
  font-weight: 600;
  padding: 0.5rem;
  cursor: pointer;
}
.info-section .card-container .cast-poster .character {
  padding: 0 0.5rem;
  color: var(--secondary-txt-color);
}
.info-section .card-container .more-cast {
  padding: 0;
  height: 100%;
  cursor: pointer;
}
.info-section .card-container .more-cast .wraper {
  width: 12rem;
  height: auto;
  aspect-ratio: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: var(--primary-txt-color);
  background-color: var(--secondary-bg-color);
  border-radius: 0.5rem;
}
.info-section .card-container .more-cast .icon {
  color: var(--primary-txt-color);
}
.info-section .card-container .video-card {
  width: 25rem;
  height: auto;
  aspect-ratio: 267 / 160;
}
.info-section .card-container .trailer-container .trailer-frame {
  width: 100%;
  height: 100%;
}
@media (hover: hover) {
  .info-section .card-container .more-cast:hover {
    color: var(--accent-color);
  }
  .info-section .card-container .more-cast:hover .icon {
    color: var(--accent-color);
    transform: translateX(0.5rem);
  }
}
@media (max-width: 1023px) {
  .movie-header .trailer-container .btn {
    left: 50%;
    margin-left: -1rem;
  }
}
@media (max-width: 767px) {
  .movie-header .genre-list {
    justify-content: center;
  }
  .movie-header .date-time-info {
    justify-content: center;
  }
}
