/* Transition Start */
.movie-landing .trailer-container,
.movie-landing .trailer-container::before {
  -webkit-transition: var(--transition-three);
  -moz-transition: var(--transition-three);
  -o-transition: var(--transition-three);
  transition: var(--transition-three);
}
/* Transition End */
/* Movie Landing Start */
.movie-landing .more-btn .icon {
  margin-right: 0.5rem;
}
.movie-landing .genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.movie-landing .genre-list .genre-item {
  color: var(--primary-txt-color);
  position: relative;
}
.movie-landing .genre-list .genre-item:not(:last-child)::after {
  content: "|";
  margin-left: 0.5rem;
}
.movie-landing .date-time-info {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.movie-landing .date-time-info .define {
  color: var(--accent-color);
  font-weight: 500;
  opacity: 0.9;
}
.movie-landing .trailer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: min(100%, 60rem);
  height: auto;
  aspect-ratio: 267 / 160;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  padding: 1rem;
  z-index: 15;
}
.movie-landing .trailer-container.active {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%);
}
.movie-landing .trailer-frame {
  height: 100%;
  width: 100%;
  background-color: rgba(0 0 0 / 0.5);
  backdrop-filter: blur(10rem);
}
.movie-landing .trailer-container .btn {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  padding: 0;
  background-color: var(--accent-color);
  color: var(--primary-txt-color);
  -webkit-box-shadow: 0 0 10px var(--accent-color);
  -moz-box-shadow: 0 0 10px var(--accent-color);
  box-shadow: 0 0 10px var(--accent-color);
}
/* Movie Landing End */
/* Info Section Start */
.info-section .overview {
  border-bottom: 0.15rem solid rgba(255 255 255 / 0.1);
}
.info-section .overview p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--primary-txt-color);
  padding: 1rem;
}
.info-section .cards-container .more.imgs .wraper {
  height: 25rem;
  width: auto;
}
.info-section .cards-container .video-card {
  width: 25rem;
  height: auto;
  aspect-ratio: 267 / 160;
}
.info-section .cards-container .trailer-container .trailer-frame {
  width: 100%;
  height: 100%;
}
.info-section .cards-container .posters-img,
.info-section .cards-container .backdrops-img {
  height: 25rem;
  border-radius: 0.5rem;
}
.cards-container .poster-img {
  aspect-ratio: 0.667;
}
.cards-container .backdrop-img {
  aspect-ratio: 1.778;
}
/* Media Queries Start */
@media (hover: hover) {
  .section-all .btn:hover {
    color: var(--primary-txt-color);
    background-color: var(--accent-color);
  }
}
@media (max-width: 1023px) {
  .movie-landing .trailer-container .btn {
    left: 50%;
    margin-left: -1rem;
  }
}
@media (max-width: 767px) {
  .movie-landing .genre-list {
    justify-content: center;
  }
  .movie-landing .date-time-info {
    justify-content: center;
  }
}
@media (max-width: 639px) {
  .no-content {
    gap: 1rem;
  }
  .no-content .icon {
    font-size: 3rem;
  }
  .no-content .text {
    font-size: 1rem;
  }
}
/* Media Queries End */
