.search-result,
.watchlist-page {
  position: relative;
}
.search-result::before,
.watchlist-page::before {
  content: "";
  position: absolute;
  height: 6.5rem;
  width: 100%;
  background-color: var(--third-bg-color);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}
.search-result .container,
.watchlist-page .container {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.search-result .section-title span {
  color: var(--accent-color);
}
.watchlist-page .section-title .icon {
  margin-left: 0.5rem;
}
.search-result .card-container,
.watchlist-page .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 2rem;
}
.search-result .card-container .card-poster img,
.watchlist-page .card-container .card-poster img {
  width: 100%;
}
@media (hover: hover) {
  .search-result .card-container .card-poster,
  .watchlist-page .card-container .card-poster {
    height: 100%;
  }
  .search-result .card-container .card-poster img,
  .watchlist-page .card-container .card-poster img {
    height: 100%;
  }
}
