.section-all {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  min-height: calc(100% - 4rem);
  background-color: var(--primary-bg-color);
  padding-top: 10rem;
  z-index: 9;
  transition: var(--transition-three) var(--transition-five);
}
.section-all.active {
  left: 0;
  transition: var(--transition-three);
}
.section-all > .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  opacity: 0;
  transform: translateY(-5rem);
  transition: var(--transition-three);
}
.section-all.active > .container {
  opacity: 1;
  transform: translateY(0);
  transition: var(--transition-three) var(--transition-five);
}
.section-all .btn {
  position: sticky;
  top: 2rem;
  display: grid;
  place-items: center;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0;
  background-color: var(--accent-color);
  color: var(--primary-txt-color);
  z-index: 50;
}
/* Images Changes */
.section-all .cards-container.flex {
  padding: 0;
  flex-direction: column;
  gap: 3rem;
}
.section-all .cards-container.flex .imgs-title {
  font-size: 1.5rem;
  color: var(--primary-txt-color);
  margin-bottom: 1.5rem;
}
.section-all .cards-container.flex .imgs-title:nth-child(2) {
  border-top: 0.15rem solid var(--secondary-txt-color);
  padding-top: 1.5rem;
}
.section-all .cards-container.wrap {
  justify-content: center;
}
.section-all .cards-container figcaption,
.section-all .cards-container .character {
  max-width: 12rem;
}
.section-all .cards-container.flex .posters-img {
  width: 100%;
  max-width: 20rem;
}
.section-all .cards-container.flex .backdrops-img {
  width: 100%;
  max-width: 60rem;
}
.section-all .footer > .container {
  padding: 0;
}
@media (max-width: 639px) {
  .section-all .cards-container.wrap .card img,
  .section-all .cards-container.wrap .card .no-img {
    width: 11rem;
    height: calc(11rem / 0.667);
  }
  .section-all .cards-container figcaption,
  .section-all .cards-container .character {
    max-width: 11rem;
  }
}
